# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Environment variables
.env

# Configuraciones de editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Otros directorios comunes a ignorar
coverage/
